{% extends "base_error.html.twig" %}

{% block title %} Error 403 {% endblock %}

{% block body %}
    <h3 style="color: #F3565D;display: inline-block;font-size: 128px;font-weight: 300;letter-spacing: -10px;line-height: 128px;
                margin-bottom: 20px;text-align: center;width: 100%;">
        403
    </h3>

    <div class="row">
        <div class="col-xs-12" style="color: #444;font-size: 18px;margin-bottom: 40px;
        text-align: center;">
            Ehh!, Que intentas hacer?. No tienes acceso al recurso solicitado.
        </div>
    </div>
{% endblock %}