<!-- BEGIN Comments Summary Content-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubbles font-red-sunglo"></i>
            <span class="caption-subject bold uppercase font-red-sunglo">Últimos comentarios</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" >
            </a>
        </div>
    </div>
    <div class="portlet-body" style="min-height: 400px;">
        <comment-handler genericpostid="model.genericPostId"></comment-handler>
    </div>
</div>
