{% extends "@app_frontend_template_directory/themes/default/layout.html.twig" %}
{% block title %} Joyas del BNC {% endblock %}

{% block content %}
    <!-- Jewels Section -->
    <section class="news-section" style="padding-bottom:50px;"  data-ng-controller="jewelsCtrller" data-ng-cloak>
        <h3 class="font-family-france">Joyas del BNC</h3>
        <div class="container-fluid" style="padding-top: 60px; padding-bottom:60px;">
            <div class="row" style="margin:0">

                <div data-ng-if="model.jewelsCollection.length > 0"
                 data-ng-repeat="jewel in model.jewelsCollection"
                 class="col-xs-12 col-sm-4 col-md-3 wow fadeInUpBig" style="margin-bottom: 70px;">
                    <div class="generic-post-container-222" style="border:none;height: 320px;">
                        <div class="generic-post-feature-image-container-220">
                            <a href="[[jewel.url]]">
                                <img data-ng-if="jewel.have_featured_image == true && jewel.featured_image_url != ''"
                                     data-ng-src="[[jewel.web_filtered_grid_featured_image_thumbnail_url]]">
                                <div class="generic-post-over"></div>
                            </a>
                        </div>

                        <span class="notifier-event-text "
                              style="padding: 0 5px;margin-top: 10px;border-left: 2px solid #009dc7;font-size: 14px;
                        height: auto !important;">
                            [[jewel.title_es]]
                        </span>
                    </div>
                </div>


                <div data-ng-if="model.end < model.total"
                 class="col-xs-12" style="padding: 150px 0px 100px;position:relative;">
                    <!-- Data Loader -->
                    <div data-ng-show="model.loadingData">
                        {% include '@app_backend_template_directory/Shared/data_loader.html.twig' %}
                    </div>

                    <div style="max-width:130px;margin:auto;">
                        <a class="btn custom-general-button"
                        data-ng-click="getJewels()"
                        style="border:2px solid #009dc7;">
                            <i class="fa fa-plus"></i>
                            Más
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
