{% extends "@app_frontend_template_directory/themes/default/layout.html.twig" %}
{% block title %} ASociados {% endblock %}

{% block content %}
    <!-- Partners Section -->
    <section class="news-section" data-ng-controller="partnersCtrller" data-ng-cloak>
        <h3 class="font-family-france">Asociados</h3>
        <div class="container-fluid" style="padding-top: 60px; padding-bottom:60px;">
            <div class="row" style="margin:0">
                <div data-ng-if="model.partnersCollection.length > 0"
                     data-ng-repeat="partner in model.partnersCollection"
                     class="col-xs-12 col-md-4 wow fadeInUpBig" style="margin-bottom: 70px;">
                    <div class="generic-post-container">
                        <div class="generic-post-feature-image-container">
                            <a href="[[partner.url]]">
                                <img data-ng-if="partner.have_featured_image == true && partner.featured_image_url != ''"
                                     data-ng-src="[[partner.web_filtered_grid_featured_image_thumbnail_url]]">
                                <div class="generic-post-over"></div>
                            </a>
                        </div>
                        <span class="notifier-event-text ">
                            [[partner.title_es | limitTo : 90]]...
                        </span>
                        <a class="btn custom-general-button" style="width:100% !important;"
                           href="[[partner.url]]">
                            Leer más
                        </a>
                    </div>
                </div>

                <div data-ng-if="model.end < model.total"
                     class="col-xs-12" style="padding: 150px 0px 100px;position:relative;">
                    <!-- Data Loader -->
                    <div data-ng-show="model.loadingData">
                        {% include '@app_backend_template_directory/Shared/data_loader.html.twig' %}
                    </div>

                    <div style="max-width:130px;margin:auto;">
                        <a class="btn custom-general-button"
                           data-ng-click="getPartners()"
                           style="border:2px solid #009dc7;">
                            <i class="fa fa-plus"></i>
                            Más
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
