<div data-ng-if="model.formActiveView == 'room-view'" class="row" id="headquarter_room_view">
  <div data-ng-if="model.createAction == true" style="display:block;text-align: center; color:#93a2a9; padding: 20px;">
    Primero debe de <strong>Guardar</strong> para poder agregar Salas a esta Sede.
  </div>
  <div data-ng-if="model.createAction == false && model.selectedHeadQuarter.id != undefined && !model.showRoomsForm">
    <div style="padding: 35px;" class="col-lg-1 col-xs-12">
      {% if canCreate %}
        <a class="btn btn-add blue btn-circle btn-icon-only btn-default"
           data-ng-click="createRoom()">
          <i class="fa fa-plus" style="color: white !important;"></i>
        </a>
      {% endif %}
    </div>
    <div data-ng-repeat="room in model.selectedHeadQuarter.rooms" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat blue-madison">
        <div class="visual">
          <i class="fa fa-home"></i>
        </div>
        <div class="details" style="padding-top: 5px">
          <div class="desc">
            [[room.title]]
          </div>
          <div class="label">
            &Aacute;reas vendibles: [[room.areas]]
          </div><br>
          <div class="label">
            Zonas: [[room.zones]]
          </div><br>
          <div class="label">
            Asientos: [[room.seats]]
          </div>
        </div>
        <a class="more" data-ng-click="editRoom(room)">
          <i class="icon-pencil" style="float: none !important;"></i> Editar
        </a>
      </div>
    </div>
  </div>
</div>