{% extends "@app_frontend_template_directory/themes/default/layout.html.twig" %}
{% block title %} Publicaciones {% endblock %}

{% block content %}
    <!-- Publications Single -->
    <section class="news-section" style="padding-bottom:50px;"  data-ng-controller="publicationsCtrller" data-ng-cloak>

        <!-- Tabs -->
        <div class="container-fluid tabbable-line wow fadeInUpBig text-center">
            <h3 class="font-family-france">[[model.selectedPublication.title_es]]</h3>
            <div class="generic-post-author">
                <span style="width:100%;text-align:center;">
                    Por : <strong>[[model.selectedPublication.author_full_name]]</strong> |
                    [[model.selectedPublication.published_date]] |
                    <i class="icon-bubble"></i> <strong>[[model.selectedPublication.total_comments]]</strong> Comentarios
                </span>
            </div>

            <ul class="nav nav-tabs" style="padding:20px 0px 40px;margin: auto 0;float: none;">
                <li data-ng-if="model.opinionsCollection.length > 0 ||
                                model.imagesCollection.length  > 0 ||
                                model.videosCollection.length  > 0"
                class="[[model.activeView == 'publication_data' ? 'active' : '']]">
                    <a href="#publication_data" data-toggle="tab"
                       data-ng-click="changeActiveView('publication_data')">
                        General
                    </a>
                </li>
                <li data-ng-if="model.opinionsCollection.length > 0" class="[[model.activeView == 'publication_opinion' ? 'active' : '']]">
                    <a href="#publication_opinion" data-toggle="tab"
                       data-ng-click="changeActiveView('publication_opinion')">
                        Críticas
                    </a>
                </li>
                <li data-ng-if="model.imagesCollection.length > 0" class="[[model.activeView == 'publication_images' ? 'active' : '']]">
                    <a href="#publication_images" data-toggle="tab"
                       data-ng-click="changeActiveView('publication_images')">
                        Fotos
                    </a>
                </li>
                <li data-ng-if="model.videosCollection.length > 0" class="[[model.activeView == 'publication_videos' ? 'active' : '']]">
                    <a href="#publication_videos" data-toggle="tab"
                       data-ng-click="changeActiveView('publication_videos')">
                        Videos
                    </a>
                </li>
            </ul>
        </div>

        <!-- Blocks Handler (for Publication blocks) -->
        <div data-ng-if="model.selectedPublication != null" class="container-fluid"
             style="position:relative;">
            <block-handler elementid="model.selectedPublication.id" elementtype="'post'"
            blockscollection="model.blocksCollection">
            </block-handler>
        </div>

        <!-- Tabs Content -->
        <div class="tab-content">
            <!-- Publication General Data -->
            <div class="tab-pane active" id="publication_data">
                <div class="container-fluid wow fadeInUpBig" style="max-width: 1280px;">
                    <!-- Featured Image -->
                    <div data-ng-if="model.selectedPublication.have_featured_image"
                         class="single-generic-post-feature-image-container">
                        <img class="img-responsive" src="[[model.selectedPublication.featured_image_url]]">
                    </div>

                    <!-- Excerpt -->
                    <div data-ng-if="model.selectedPublication.excerpt_es != null &&
                    model.selectedPublication.excerpt_es != ''"
                         class="single-generic-post-excerpt-container">
                        <p>
                            [[model.selectedPublication.excerpt_es]]
                        </p>
                    </div>

                    <!-- Content -->
                    <div data-ng-if="model.selectedPublication.content_es != null"
                         class="single-generic-post-content-container"
                         data-ng-bind-html="model.selectedPublication.html_filtered_content_es">
                    </div>
                </div>
            </div>
            <!-- Publication Opinions -->
            <div class="tab-pane" id="publication_opinion">
                <div  class="container-fluid wow fadeInUpBig" style="max-width: 1280px;min-height: 400px;">
                    <div data-ng-if="model.opinionsCollection.length > 0"
                         data-ng-repeat="opinion in model.opinionsCollection" class="col-xs-12"
                         style="padding: 25px;">
                        <div class="opinion-content">
                            [[opinion.content_es]]
                        </div>
                        <div class="opinion-reference">
                            [[opinion.title_es]]
                        </div>
                    </div>

                    <span data-ng-if="model.opinionsCollection.length == 0"
                          style="color: white;font-family: 'Helvetica LTStd Bold';font-size: 12px;text-align: center;display:block;">
                        Sin Críticas
                    </span>
                </div>
            </div>
            <!-- Publication Images -->
            <div class="tab-pane" id="publication_images">
                <!-- Images blocks -->
                <div class="lightBoxGallery container-fluid block-handler-section"
                     style="padding: 20px 15px 80px;max-width: 1280px;min-height: 400px;">
                    <a data-ng-repeat="image in model.imagesCollection"
                       style="float:left;position:relative;margin:10px;"
                       href="[[image.url]]" title="[[image.description_es]]" data-gallery="">
                        <img src="[[image.web_filtered_standard_thumbnail_url]]">
                        <div class="image-gallery-over"></div>
                    </a>
                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>

                    <span data-ng-if="model.imagesCollection.length == 0"
                          style="color: white;font-family: 'Helvetica LTStd Bold';font-size: 12px;">
                        Sin Fotos
                    </span>
                </div>
            </div>
            <!-- Publication Videos -->
            <div class="tab-pane container-fluid block-handler-section wow fadeInUpBig" id="publication_videos"
                 style="padding: 20px 15px 80px;min-height: 400px;">
                <div data-ng-if="model.videosCollection.length > 0" >
                    <video-handler videoscollection="model.videosCollection"></video-handler>
                </div>

                <span data-ng-if="model.videosCollection.length == 0"
                      style="color: white;font-family:'Helvetica LTStd Bold';font-size: 12px;text-align: center;display:block;">
                    Sin Videos
                </span>
            </div>
        </div>

        <!-- Comments section -->
        <div data-ng-if="model.selectedPublication != null" class="comments-section">
        <comment-handler genericpostid="model.selectedPublication.id"></comment-handler>
        </div>

    </section>



{% endblock %}
