<div class="col-md-12"  data-ng-if="taxonomyModel.showTaxonomyForm">
    <!-- BEGIN Portlet Taxonomy-CRUD -->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <span class="caption-subject bold uppercase" data-ng-bind="taxonomyModel.taxonomyFormTitle">
                </span>
            </div>
            <!-- Toolbar -->
            <div class="actions custom-toolbar-actions">
                <a class="btn btn-circle btn-icon-only btn-default fullscreen"  style="margin-left:40px;"></a>
            </div>
        </div>
        <div class="portlet-body form" style="position:relative;">
            <form class="horizontal-form">
               <div class="form-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group [[taxonomyModel.nameErrorClass]]">
                                <label class="control-label">
                                    Nombre
                                </label>
                                <input class="form-control" type="text" placeholder="No más de 100 caracteres."
                                data-ng-model="taxonomyModel.name" data-ng-keyup="handleFormInputKeyEvents($event)"
                                id="taxonomy_name" maxlength="100">
                                <span class="help-block">
                                    <p data-ng-if="taxonomyModel.nameHasError">Valor incorrecto o en blanco.</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group [[taxonomyModel.urlSlugErrorClass]]">
                                <label class="control-label">
                                    Slug
                                </label>
                                <input class="form-control" type="text" placeholder="No más de 100 caracteres."
                                data-ng-model="taxonomyModel.url_slug" id="taxonomy_url_slug">
                                <span class="help-block" maxlength="100">
                                    <p data-ng-if="taxonomyModel.urlSlugHasError">Valor incorrecto o en blanco.</p>
                                </span>
                            </div>
                        </div>
                    </div>
                   <div data-ng-if="taxonomyModel.selectedType.tree_slug != 'tag'" class="row">
                       <div class="col-xs-12 col-md-6">
                           <div class="form-group [[taxonomyModel.parentErrorClass]]">
                               <label class="control-label">
                                   Padre
                               </label>
                               <a class="btn toolbar-btn-dropdown-text btn-md btn-default" style="text-align:left !important;"
                               data-ng-click="showParentsSelector()">
                                   [[taxonomyModel.selected_parent != null ? taxonomyModel.selected_parent.name_es : 'Seleccione.']]
                               </a>
                           </div>
                       </div>
                       <!-- Modal with potentials parents -->
                       <div id="taxonomy-parents-modal-selector" class="modal fade" tabindex="-1" data-width="760">
                           <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                               <h4 class="modal-title">Seleccionar Taxonomía Padre</h4>
                           </div>
                           <div class="modal-body">
                               <div class="alert alert-warning alert-dismissable" data-auto-close="2" >
                                   <button class="close" type="button" data-dismiss="alert" aria-hidden="true"></button>
                                   <span style="font-size: 12px;color:#777;">
                                       Seleccione un solo padre de primer o segundo nivel.
                                       Si selecciona más de uno se tomará el primero seleccionado en la lista.
                                       Si desea cancelar un padre previamente seleccionado, solo guarde sin seleccionar ninguno.
                                   </span>
                               </div>
                               <!-- Tree List -->
                               {% include '@app_backend_template_directory/Taxonomy/tree_list.html.twig' %}
                               <!-- Data Loader -->
                               <div data-ng-show="taxonomyModel.loadingData">
                                   {% include '@app_backend_template_directory/Shared/data_loader.html.twig' %}
                               </div>
                           </div>
                           <div class="modal-footer">
                               <button class="btn default" type="button" aria-hidden="true" data-dismiss="modal">
                                   Cancelar
                               </button>
                               <button data-ng-if="taxonomyModel.taxonomiesCollection.length > 0" class="btn blue btn-blue"
                               type="button" data-ng-click="selectTaxonomyParent()">
                                   Aceptar
                               </button>
                           </div>
                       </div>
                   </div>
               </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-3 col-md-9">
                            <button class="btn default btn-footer" type="button" data-ng-click="hideTaxonomyForm()">
                                Cancelar
                            </button>
                            <button data-ng-if="taxonomyModel.createAction" class="btn blue btn-blue btn-footer" type="submit" data-ng-click="saveTaxonomyData('clear')">
                                Guardar y limpiar
                            </button>
                            <button class="btn blue btn-blue btn-footer" type="button" data-ng-click="saveTaxonomyData('close')">
                                Guardar y cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>