<!-- Search bar -->
<div class="inputs">
    <div class="portlet-input input-small input-inline"
         style="width: 100% !important;border-bottom: 1px solid #eee;margin-bottom: 20px;padding-bottom: 20px;">
        <div class="input-icon right">
            <i class="icon-magnifier"></i>
            <input type="text" class="form-control form-control-solid" placeholder="Buscar..."
                   data-ng-model="model.generalSearchValue"
                   data-ng-keyup="searchMediaData($event, 'gallery')"
                   style="color:#2a3239;">
        </div>
    </div>
</div>
<!-- Pagination-->
<div class="row">
    <div class="col-xs-12 col-md-6 paginator">
        <span>
            Mostrar
        </span>
        <div class="form-group inline m-b-xs" style="float:left;">
            <select class="form-control input-xsmall"
                    data-ng-model="model.mediaGalleryCurrentPageSize"
                    data-ng-options="mediaGalleryEntrySize for mediaGalleryEntrySize in model.mediaGalleryEntriesSizesCollection"
                    data-ng-change="resetPaginationPages('gallery')">
            </select>
        </div>
        <span>
            entradas
        </span>

        <span style="border-left: 1px solid #eee;padding-left: 10px;">
            <strong>[[model.mediaGalleryCurrentResultStart]]</strong>
        </span>
        <span>
             -
        </span>
        <span>
            <strong>[[model.mediaGalleryCurrentResultLimit]]</strong>
        </span>
        <span>
            de <strong>[[model.galleriesCollection.length]]</strong> entradas
        </span>

        <span style="border-left: 1px solid #eee;padding-left: 10px;">
            Página
        </span>
        <div class="form-group inline m-b-xs" style="float:left;">
            <select class="form-control input-s-xs"
                    data-ng-model="model.mediaGalleryCurrentPage"
                    data-ng-options="page for page in model.mediaGalleryPagesCollection"
                    data-ng-change="updatePaginationValues('video')">
            </select>
        </div>
        <span>
            de <strong>[[model.mediaGalleryPagesCollection.length]]</strong>
        </span>
    </div>
</div>
<!-- Media Galleries List-->
<div style="position: relative;">
    <div data-ng-show="model.galleriesCollection.length > 0" class="row" style="margin-top:30px;">
        <div data-ng-repeat="gallery in model.galleriesCollection | limitTo : (model.mediaGalleryCurrentResultLimit - (model.mediaGalleryCurrentResultStart - 1)) : (model.mediaGalleryCurrentResultStart - 1)"
             class="col-xs-12 col-md-4">
            <div class="media-gallery-standard-container">
                <div class="row media-gallery-standard-icon-container">
                    <!-- for Images elements -->
                    <div data-ng-if="gallery.childrens.length > 0 && gallery.gallery_type_tree_slug == 'gallery-type-image'"
                     data-ng-repeat="children in gallery.childrens | limitTo: 12"
                     class="col-xs-3 col-md-3 media-gallery-standard-icon">
                        <img data-ng-src="[[children.web_filtered_standard_thumbnail_url]]">
                     </div>
                    <!-- for Videos elements -->
                    <div data-ng-if="gallery.childrens.length > 0 && gallery.gallery_type_tree_slug == 'gallery-type-video'"
                     data-ng-repeat="children in gallery.childrens | limitTo: 4"
                     class="col-xs-6 col-md-6 media-gallery-standard-video-icon">
                        <img src="images/shared/video-default-standard-thumbnail.jpg">
                    </div>
                    <!-- No data to show -->
                    <div data-ng-if="gallery.childrens.length == 0"
                     style="display:block;text-align: center; color:#93a2a9; padding: 20px;">
                        No se han seleccionado elementos para esta galería......
                    </div>
                </div>
                <span style="float:left;width:100%; color:#777;padding:10px;border-top: 1px solid #eee;">
                    [[gallery.name_es]]
                </span>

                {% if canEdit %}
                    <a data-ng-if="gallery.canEdit" class="btn btn-add blue btn-blue btn-circle btn-icon-only btn-default tooltips"
                       data-ng-click="editMedia(gallery)" data-container="body" data-placement="top"
                       data-original-title="Editar galeria"
                       style="position: absolute;top: 40px;left:15px">
                        <i class="icon-pencil"></i>
                    </a>
                {% endif %}
                {% if canDelete %}
                    <a data-ng-if="gallery.canDelete" class="btn btn-danger btn-circle btn-icon-only btn-default tooltips"
                       data-ng-click="deleteMediaGallery(gallery.id)" data-container="body" data-placement="top"
                       data-original-title="Eliminar galeria"
                       style="position: absolute;top: 80px;left:15px">
                        <i class="icon-trash"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div data-ng-show="model.galleriesCollection.length == 0">
        {% include '@app_backend_template_directory/Shared/no_data_to_show.html.twig' %}
    </div>
    <div data-ng-show="model.loadingData">
        {% include '@app_backend_template_directory/Shared/data_loader.html.twig' %}
    </div>
</div>

<!-- Modal to selected images/videos for gallery -->
<div id="images-videos-gallery-selection-modal" class="modal fade" tabindex="-1" data-width="1200"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <button type="button" class="close"
        data-ng-click="hideGalleryChildrensSelectionModal()"></button>
        <h4 class="modal-title">Seleccione los elementos de la galería</h4>
    </div>
    <div class="modal-body min-height-400">
        <form class="form horizontal-form" style="position: relative;">
            <div class="form-body">
                <div data-ng-if="model.selectedGalleryType != null && model.selectedGalleryType.tree_slug == 'gallery-type-image'">
                    {% include '@app_backend_template_directory/Media/images.html.twig' %}
                </div>
                <div data-ng-if="model.selectedGalleryType != null && model.selectedGalleryType.tree_slug == 'gallery-type-video'">
                    {% include '@app_backend_template_directory/Media/videos.html.twig' %}
                </div>
            </div>
            <div class="form-actions" style="background-color:white;">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-4 col-md-8">
                        <button class="btn default btn-footer" type="button"
                                data-ng-click="hideGalleryChildrensSelectionModal()">
                            Cancelar
                        </button>
                        <button class="btn blue btn-blue btn-footer" type="submit"
                                data-ng-click="saveSelectedGalleryChildrens()">
                            Seleccionar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>