<div class="row">
    <div class="col-xs-12 col-md-7" style="">
        <div class="media-image-details-container">
            <img data-ng-src="[[model.selectedImage.url]]" class="img-responsive">
        </div>
    </div>
    <div class="col-xs-12 col-md-5">
        <div class="form-group">
            <label class="control-label">Nombre</label>
            <span class="help-block">
                [[model.selectedImage.name_es]].[[model.selectedImage.extension]]
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Texto alternativo</label>
            <span class="help-block">
                [[model.selectedImage.alternative_text_es]]
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Descripción</label>
            <span class="help-block">
                [[model.selectedImage.description_es]]
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Ubicación relativa</label>
            <span class="help-block">
                [[model.selectedImage.url]]
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Ubicación absoluta</label>
            <span class="help-block">
                (dominio del sitio)/[[model.selectedImage.url]]
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Dimensiones</label>
            <span class="help-block">
                [[model.selectedImage.dimension]] píxeles
            </span>
        </div>
        <div class="form-group">
            <label class="control-label">Tamaño</label>
            <span class="help-block">
                [[model.selectedImage.size]] bytes ([[((model.selectedImage.size) / 1000) | number:2]] kB)
                ([[((model.selectedImage.size) / 1000000) | number:2]] MB)
            </span>
        </div>
    </div>
</div>