<div data-ng-if="model.formActiveView == 'comments'" class="row" id="composition_comments">
    <div data-ng-if="model.createAction == true" style="display:block;text-align: center; color:#93a2a9; padding: 20px;">
        Primero debe de <strong>Guardar</strong> para poder gestionar Comentarios.
    </div>
    <div data-ng-if="model.createAction == false && model.selectedComposition.id != undefined">
        <comment-handler genericpostid="model.selectedComposition.id"></comment-handler>
    </div>
</div>