{% extends "@app_frontend_template_directory/themes/default/layout.html.twig" %}
{% block template_name %}
    <!--**
     * Template Name: Por defecto
     *
     * -->
{% endblock %}
{% block title %} 26 Festival {% endblock %}

{% block content %}
    <!-- News Section -->
    <section class="news-section" style="padding-bottom:0;" data-ng-controller="defaultPageCtrller" data-ng-cloak>

        <!-- Page General Data -->
        <div class="wow fadeInUpBig">
            <!-- Featured Image -->
            <div data-ng-if="model.selectedNew.have_featured_image"
                 class="single-generic-post-feature-image-container">
                <img class="img-responsive" src="[[model.selectedNew.featured_image_url]]">
            </div>
        </div>


        <div class="container wow fadeInUpBig">
            <h3 class="title main-title">
                [[model.selectedPage.title]]
                <p class="title-separator"></p>
            </h3>

            <div data-ng-if="model.selectedPage.content != null"
                 class="single-generic-post-content-container"
                 data-ng-bind-html="model.selectedPage.html_filtered_content">
            </div>
            <div class="text-center" style="margin:30px 0;">

            </div>
        </div>

        <!-- Comments section -->
        <div data-ng-if="model.selectedPage != null" class="comments-section">
            <comment-handler genericpostid="model.selectedPage.id"></comment-handler>
        </div>
        
        
        
    </section>

{% endblock %}