<table class="table table-hover table-light">
    <thead>
    <tr class="uppercase">
        <th width="50">
            <div class="icheckbox_square-blue checkbox-master [[model.allPagesSelected ? 'checked' : '']]"
             data-ng-click="selectAllPages($event)"
             data-ng-mouseover="updateICheckStyles($event, 'checkbox', 'checkbox-master', null)"
             data-ng-mouseleave="updateICheckStyles($event, 'checkbox', 'checkbox-master', null)">
            </div>
        </th>
        <th class="table-header" width="150">
            Imagen principal
        </th>
        <th class="table-header">
            Título
        </th>
        <th class="table-header" width="140">
            Plantilla
        </th>
        <th class="table-header" width="120">
            Status
        </th>
        <th class="table-header" width="150">
            Autor
        </th>
        <th class="table-header" width="135">
            Fecha creado
        </th>
        <th class="table-header" width="95">
            Acciones
        </th>
    </tr>
    </thead>
    <tr data-ng-repeat="page in model.pagesCollection | limitTo : (model.pagesCurrentResultLimit - (model.pagesCurrentResultStart - 1)) : (model.pagesCurrentResultStart - 1) ">
        <td>
            <div class="icheckbox_square-blue checkbox-[[page.tree_slug]] [[page.selected ? 'checked' : '']]"
                 data-ng-click="selectPages($event,page)"
                 data-ng-mouseover="updateICheckStyles($event, 'checkbox', 'checkbox-'+page.tree_slug, null)"
                 data-ng-mouseleave="updateICheckStyles($event, 'checkbox', 'checkbox-'+page.tree_slug, null)">
            </div>
        </td>
        <td class="cursor-pointer" data-ng-click="selectPages($event,page)">
            <div data-ng-if="page.have_featured_image == true" class="page-mini-thumbnail-container">
                <img data-ng-src="[[page.web_filtered_list_featured_image_mini_thumbnail_url]]">
            </div>
        </td>
        <td class="cursor-pointer" data-ng-click="selectPages($event,page)" data-ng-bind="page.title_es"></td>
        <td class="cursor-pointer" data-ng-click="selectPages($event,page)" data-ng-bind="page.template.template_name"></td>
        <td class="cursor-pointer" data-ng-click="selectPages($event,page)">
            <span data-ng-bind="page.post_status_name"
            class="label label-sm [[page.post_status_name =='Pendiente'? 'label-warning' : 'label-success']] ">
            </span>
        </td>
        <td class="cursor-pointer" data-ng-click="selectPages($event,page)" data-ng-bind="page.author_name"></td>
        <td class="cursor-pointer" data-ng-click="selectPages($event,page)" data-ng-bind="page.created_date"></td>
        <td>
            {% if canEdit %}
                <button data-ng-if="page.canEdit" class="btn btn-link"
                data-ng-click="editPages(page)">
                    <i class="icon-pencil btn-blue"></i>
                </button>
            {% endif %}
            {% if canDelete %}
                <button data-ng-if="page.canDelete" class="btn btn-link"
                data-ng-click="deletePages(page.id)">
                    <i class="icon-trash btn-red"></i>
                </button>
            {% endif %}
        </td>
    </tr>
</table>

<!-- Message when isn't data to show -->
<div data-ng-show="model.pagesCollection.length == 0">
    {% include '@app_backend_template_directory/Shared/no_data_to_show.html.twig' %}
</div>
<!-- Data Loader -->
<div data-ng-show="model.loadingData">
    {% include '@app_backend_template_directory/Shared/data_loader.html.twig' %}
</div>