<div style="font-weight: bold; font-size: 16px">
  {{ params['message'] }}
</div>
<div style="margin-top: 10px;display: flex">
<div style="width: 50%">
<h3>¡Aviso importante!:</h3>
  Este correo electr&oacute;nico ha sido enviado autom&aacute;ticamente.<br>
Por favor, no responda al mismo.
</div>
  <div style="width: 50%">
<h3>Important!:</h3>
This e-mail has been sent automatically. <br>
Please, do not respond to it.
  </div>
</div>
<div style="margin-top: 50px;font-size: 12px; font-weight: bold">
  26 Festival de Ballet de la Habana<br>
  Calzada #510, entre D y E, Vedado, Plaza de la Revolución. CP 10400<br>
  Tel: (+53)78353920.<br>
  <a href="http://balletcuba.cult.cu"> http://balletcuba.cult.cu</a><br>
</div>