<div data-ng-if="model.formActiveView == 'blocks'" class="row" id="new_blocks">
    <div data-ng-if="model.createAction == true" style="display:block;text-align: center; color:#93a2a9; padding: 20px;">
        Primero debe de <strong>Guardar</strong> para poder agregar Bloques a esta Publicación.
    </div>
    <div data-ng-if="model.createAction == false && model.selectedNew.id != undefined">
        <block-selector elementid="model.selectedNew.id" elementtype="new"></block-selector>
    </div>
</div>