<div class="row" style="position:relative;">
    <div data-ng-if="model.commentsCollection.length > 0" class="col-xs-12" style="margin-top: 20px;">
        <span style="color: #777;">Tienes </span>
        <span style="color: #F3565D;font-size: 18px;">
            [[model.commentsCollection.length]]
            [[model.commentsCollection.length > 1 ? 'comentarios pendientes' : 'comentario pendiente']]
        </span>
    </div>
    <div class="col-xs-12" style="margin-top: 0px;">
        <div data-ng-show="model.commentsCollection.length > 0" class=" "
        style="margin-top:35px;">
            <!-- LEVEL 1 -->
            <div data-ng-repeat="comment in model.commentsCollection" class="media"
            style="padding: 15px 5px;border-top: 1px solid #eee;">
                <a class="pull-left" style="cursor:auto;text-decoration: none;">
                    <img class="media-object"
                    src="uploads/images/liip_imagine_filtered/logued_user_thumbnail/uploads/images/original/bnc-default-user-avatar.png" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        [[comment.author_name]]
                        <span>
                            [[comment.created_date]]
                            <a data-ng-if="comment.depth < 3" data-ng-click="createComment(false, comment)"> | Responder </a>
                            <a data-ng-if="comment.canEdit" data-ng-click="editComment(comment)"> | Editar </a>
                            <a data-ng-click="changeStatus(comment)"> | Cambiar Status </a>
                            <a data-ng-if="comment.canDelete" data-ng-click="deleteComments(comment.id)" style="color:#F3565D"> | Eliminar </a>
                        </span>
                    </h4>
                    <h4 class="media-heading" style="margin-bottom: 10px;">
                        <span style="position: inherit">En </span>
                        <span style="position: inherit;font-size: 14px;color: rgb(28,27,41);">
                           "[[comment.generic_post_title]]"
                        </span>
                    </h4>
                    <p>[[comment.content]]</p>
                    <p style="padding-bottom: 10px;padding-top: 10px;">
                        <span class="label label-sm
                        [[comment.comment_status_tree_slug =='comment-status-pending'? 'label-warning' : 'label-success']]
                        pull-left" style="margin-right:5px;">
                            [[comment.comment_status_name]]
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div data-ng-if="model.commentsCollection.length == 0" style="position: relative;">
            <!-- No data to show -->'
            <div style="display:block;text-align: center; color:#93a2a9; padding: 20px;">
                No tienes comentarios pendientes!...
            </div>
        </div>
    </div>

    <div data-ng-show="model.loadingData">
        <div class="data-loader">
            <div class="sk-data-loader-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
        </div>
    </div>
</div>




