<table class="table table-hover table-light">
    <thead>
    <tr class="uppercase">
        <th width="50">
            <div class="icheckbox_square-blue checkbox-master [[model.allPartnersSelected ? 'checked' : '']]"
                 data-ng-click="selectAllPartners($event)"
                 data-ng-mouseover="updateICheckStyles($event, 'checkbox', 'checkbox-master', null)"
                 data-ng-mouseleave="updateICheckStyles($event, 'checkbox', 'checkbox-master', null)">
            </div>
        </th>
        <th class="table-header" width="150">
            Imagen principal
        </th>
        <th class="table-header">
            Título
        </th>
        <th class="table-header" width="120">
            Status
        </th>
        <th class="table-header" width="150">
            Autor
        </th>
        <th class="table-header" width="135">
            Fecha creado
        </th>
        <th class="table-header" width="95">
            Acciones
        </th>
    </tr>
    </thead>
    <tr data-ng-repeat="partner in model.partnersCollection | limitTo : (model.partnersCurrentResultLimit - (model.partnersCurrentResultStart - 1)) : (model.partnersCurrentResultStart - 1) ">
        <td>
            <div class="icheckbox_square-blue checkbox-[[partner.tree_slug]] [[partner.selected ? 'checked' : '']]"
                 data-ng-click="selectPartners($event,partner)"
                 data-ng-mouseover="updateICheckStyles($event, 'checkbox', 'checkbox-'+partner.tree_slug, null)"
                 data-ng-mouseleave="updateICheckStyles($event, 'checkbox', 'checkbox-'+partner.tree_slug, null)">
            </div>
        </td>
        <td class="cursor-pointer" data-ng-click="selectPartners($event,partner)">
            <div data-ng-if="partner.have_featured_image == true" class="partner-mini-thumbnail-container">
                <img data-ng-src="[[partner.web_filtered_list_featured_image_mini_thumbnail_url]]">
            </div>
        </td>
        <td class="cursor-pointer" data-ng-click="selectPartners($event,partner)" data-ng-bind="partner.title_es"></td>
        <td class="cursor-pointer" data-ng-click="selectPartners($event,partner)">
            <span data-ng-bind="partner.post_status_name"
            class="label label-sm [[partner.post_status_name =='Pendiente'? 'label-warning' : 'label-success']] ">
            </span>
        </td>
        <td class="cursor-pointer" data-ng-click="selectPartners($event,partner)" data-ng-bind="partner.author_name"></td>
        <td class="cursor-pointer" data-ng-click="selectPartners($event,partner)" data-ng-bind="partner.created_date"></td>
        <td>
            {% if canEdit %}
                <button data-ng-if="partner.canEdit" class="btn btn-link"
                data-ng-click="editPartners(partner)">
                    <i class="icon-pencil btn-blue"></i>
                </button>
            {% endif %}
            {% if canDelete %}
                <button data-ng-if="partner.canDelete" class="btn btn-link"
                data-ng-click="deletePartners(partner.id)">
                    <i class="icon-trash btn-red"></i>
                </button>
            {% endif %}
        </td>
    </tr>
</table>

<!-- Message when isn't data to show -->
<div data-ng-show="model.partnersCollection.length == 0">
    {% include '@app_backend_template_directory/Shared/no_data_to_show.html.twig' %}
</div>
<!-- Data Loader -->
<div data-ng-show="model.loadingData">
    {% include '@app_backend_template_directory/Shared/data_loader.html.twig' %}
</div>