<div data-ng-if="model.formActiveView == 'seats'" class="row" id="seats_avaiability">
    <div data-ng-if="model.selectedShow.canSellOnline == false" style="display:block;text-align: center; color:#93a2a9; padding: 20px;">
        La sala de esta funci&oacute;n no puede vender online.
    </div>
    <div data-ng-if="model.createAction == true" style="display:block;text-align: center; color:#93a2a9; padding: 20px;">
        Primero debe de <strong>Guardar</strong> para poder gestionar disponibilidad de asientos a esta Función.
    </div>

    {% set role = 'IS_AUTHENTICATED_ANONYMOUSLY' %}
    {% if is_granted('ROLE_SALESMAN') %}
    {% set role = 'ROLE_SALESMAN' %}
   {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      {% set role = 'ROLE_ADMIN' %}
    {% endif %}
    <div data-ng-if="model.selectedShow.canSellOnline == true && model.createAction == false && model.selectedShow.id != undefined">
        <reserve from="'detail'" showid="model.selectedShow.id" user-role="'{{ role }}'" current-language="model.selectedLanguage.value" selectedroom="model.selectedShow.room"></reserve>
    </div>
</div>